# Tesseract requirements for Geometry & Porosity Engine
numpy
scipy
pydantic
jax
jaxlib
jax-fem
fenics-basix
pyfiglet
meshio
scikit-image>=0.22.0
tesseract-core[runtime]>=1.11.0
tesseract-jax>=0.4.1
fsspec
uvicorn
fastapi
